:root {
  --header-size: 3rem;
  --navbar-size: 15rem;
  --content-spacing: 0.75rem;
  overflow: hidden;
}

/* Templates container */
#templates {
  display: none;
}

#content {
  display: flex;
  flex-wrap: wrap;
  padding: var(--content-spacing);
  gap: var(--content-spacing);

  box-sizing: border-box;

  margin-left: var(--navbar-size);
  margin-top: var(--header-size);

  max-height: calc(100dvh - var(--header-size));
  overflow: auto;

  scrollbar-color: var(--col-accent) var(--col-bg);
}

.card.full {
  text-align: left;
  width: 100% !important;
}

.card img {
  max-width: 75%;
  margin-bottom: 5dvh;
  display: inline-block;
}

hr {
  border: 1px solid var(--col-accent);
}

form {
  text-align: left;
}

form > section.line {
  display: flex;
  align-items: baseline;
  gap: var(--content-spacing);
}

form > section.line > * {
  flex-grow: 1;
}

header {
  position: fixed;
  top: 0;
  height: var(--header-size);
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--col-fg-inversed);
  background-color: var(--col-accent);
  box-shadow: 0 0.1rem 5px var(--col-shadow);
  z-index: 1;
}

header a:hover {
  background-color: var(--col-accent-dark);
}

header a {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

header img, a {
  height: 100%;
  margin-bottom: 0;
}

header .right-break {
  margin-left: auto;
}

header #title {
  font-size: larger;
  font-weight: bold;
}

menu {
  position: fixed;
  top: var(--header-size);
  height: calc(100% - var(--header-size));
  width: var(--navbar-size);
  display: inline-block;
  overflow-y: auto;

  scrollbar-color: var(--col-accent) var(--col-accent-light);
  scrollbar-width: thin;

  margin: 0;
  padding: 0;

  background-color: var(--col-accent-light);
}

menu a,
menu span {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;

  text-decoration: none;
  color: var(--col-accent-dark);
  
  transition: background-color 0.2s ease;
}

menu a {
  font-weight: bold;
  padding-left: 2rem;
}

menu span {
  padding-top: 1rem;
}

menu a:hover,
menu a:active {
  background-color: var(--col-accent-overlay);
}