:root {
  --header-size: 3rem;
  --sidebar-size: 12.5rem;
  --sidebar-visibility: 1;
  --content-spacing: 0.75rem;

  --col-grid: var(--col-input-underline);

  overflow: hidden;
}

/* Templates container */
#templates {
  display: none;
}

#content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  padding: var(--content-spacing);
  gap: var(--content-spacing);

  box-sizing: border-box;

  margin-left: var(--sidebar-size);
  margin-top: var(--header-size);
  transition: margin-left ease 0.2s;

  height: calc(100dvh - var(--header-size));
  overflow: auto;

  scrollbar-color: var(--col-accent) var(--col-bg);
}

.card.full {
  text-align: left;
  width: 100% !important;
}

.card img {
  max-width: 75%;
  margin-bottom: 5dvh;
  display: inline-block;
}

hr {
  border: 1px solid var(--col-accent);
}

a {
  --col-hover: var(--col-accent-dark);
  --col-normal: var(--col-accent);

  color: var(--col-normal);
  text-decoration: none;
  transition: color ease 0.2s;
}

a:hover,
a:focus-visible {
  color: var(--col-hover);
  text-decoration: underline;
}

form {
  text-align: left;
}

form section.line {
  display: flex;
  align-items: baseline;
  gap: var(--content-spacing);
}

form section.line > * {
  flex-grow: 1;
}

button + button {
  margin-top: var(--content-spacing);
}

header {
  position: fixed;
  top: 0;
  height: var(--header-size);
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--col-fg-inversed);
  background-color: var(--col-accent);
  box-shadow: 0 0.1rem 5px var(--col-shadow);
  z-index: 2;
}

header a:hover {
  background-color: var(--col-accent-dark);
}

header a {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

header img, a {
  height: 100%;
  margin-bottom: 0;
}

header .right-break {
  margin-left: auto;
}

header #title {
  font-size: larger;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid var(--col-accent);
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--col-grid);
}

td:not(:last-child),
th:not(:last-child) {
  border-right: 1px solid var(--col-grid);
}

th,
td {
  padding: calc(var(--content-spacing) / 2);
}

#sidebar {
  position: fixed;
  top: var(--header-size);
  left: calc((var(--sidebar-visibility) - 1) * var(--sidebar-size));
  transition: left ease 0.2s;

  height: calc(100% - var(--header-size));
  width: var(--sidebar-size);
  display: inline-block;
  overflow-y: auto;

  scrollbar-color: var(--col-accent) var(--col-accent-light);
  scrollbar-width: thin;

  margin: 0;
  padding: 0;

  background-color: var(--col-accent-light);
  box-shadow: 0.1rem 0 5px var(--col-shadow);

  z-index: 1;
}

#sidebar a,
#sidebar span {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;

  text-decoration: none;
  color: var(--col-accent-dark);
  
  transition: background-color 0.2s ease;
}

#sidebar a {
  font-weight: bold;
  padding-left: 2rem;
}

#sidebar div {
  padding-top: 1rem;
}

#sidebar a:hover,
#sidebar a:focus {
  background-color: var(--col-accent-overlay);
}

@media screen and (max-width: 600px) {
  #content {
    margin-left: 0;
  }

  #sidebar {
    --sidebar-visibility: 0;
  }

  #sidebar.visible,
  #sidebar:focus-within {
    --sidebar-visibility: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --col-accent-light-text: #87bde1;
    --col-accent-dark-text: #6298BC;
  }

  a {
    --col-hover: var(--col-accent-light-text);
    --col-normal: var(--col-accent-dark-text);
  }

  #sidebar {
    --col-accent-dark: var(--col-fg);
  }

  header {
    --col-fg-inversed: var(--col-fg)
  }
}

#sidebar:empty {
  --sidebar-visibility: 0;
  transition-delay: 25ms;
}

#sidebar:empty ~ #content {
  margin-left: 0;
}

#content:has(.menu-container:only-child) {
  justify-content: center;
  align-content: center;
}

.menu-container {
  text-align: center;
  margin-bottom: 5dvh;
}

.menu-container > h1 {
  font-size: min(10dvw, 4rem);
  opacity: 0.3;

  padding-bottom: 0.4em;
  margin: 0 auto 0.4em;
  width: fit-content;

  border-bottom: 1px solid var(--col-fg);
}

.menu-container menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 3em;
  padding: var(--content-spacing);
  gap: var(--content-spacing);
}

.menu-container .card {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: calc(var(--content-spacing) / 2.0);
}

.menu-container .card h1 {
  padding-bottom: var(--content-spacing);
  margin-bottom: calc(var(--content-spacing) / 2.0);

  border-bottom: 1px solid var(--col-accent);
}